<div class="card">
    
      <h2 class="header" >Essay</h2>
      <h5 style="margin-left: 10px;font-weight: lighter;">71 Questions</h5>
    <div class="body">
      <div>An essay is, generally, <br>
          a piece of writing that gives <br>
           the author's own argumen</div>
      <ng-content></ng-content>
    </div>
    
    <div class="footer">
      <div ><button style="color: violet;font-weight: bold; width: 100px; border: none;" routerLink="/detail">START</button></div>
    </div>
  </div>
  <br><br>



  <div class="card">
    <h2 class="header" >SummeriZe Written Text</h2>
    <h5 style="margin-left: 10px;font-weight: lighter;">71 Questions</h5>
  <div class="body">
    <div>An essay is, generally, <br>
        a piece of writing that gives <br>
         the author's own argumen</div>
    <ng-content></ng-content>
  </div>
  <div class="footer">
    <button style="color: violet;float: left; font-weight: bold; width: 100px; border: none;">START</button></div>
  
</div>

 