.card {
  border: 1px solid  blue;
  border-radius: 25px;
  width: 22vw;
  height: 10vw;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  margin-left: 20px;
  
}


.header {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items:left;
  margin-left: 15px;
  color: blue;
}


.footer {
  position: relative;
  display: flex;
  align-items: center;
  left: 60%;
  vertical-align: top;

  
}
.row{
  display: flex;
 align-items: stretch;
 height: 100px;
 width: 250px;
 align-content: space-between;
 
}

.mat-icon{
margin-left: 20px;
margin-top: 40px;
font-size: 40px;
color: white;
}
