<div class="row">
<div class="column">
<div class="card" style="background-color: rgb(57, 57, 145);" routerLink="/card">
    
    <ng-content></ng-content>
    
    <mat-icon>volume_up</mat-icon>

    <div class="footer" style="color: white;"> Listening 
        <mat-icon>arrow_forward</mat-icon>
    </div>
</div></div>
<div class="column">
<div class="card" style="background-color: blue;" routerLink="/card">
    <mat-icon> import_contacts</mat-icon>

    <div class="footer" style="color: white;"> Reading
        <mat-icon>arrow_forward</mat-icon></div>
</div></div>
<div class="column">
<div class="card" style="background-color: rgb(190, 91, 91);" routerLink="/card">
    <mat-icon>mic</mat-icon>


    <div class="footer" style="color: white;"> Speaking
        <mat-icon>arrow_forward</mat-icon></div>
</div>  </div>
<div class="column">
<div class="card" style="background-color: rgb(221, 97, 221);" routerLink="/card">
    <mat-icon>create</mat-icon>

    <div class="footer" style="color: white;"> Writing
        <mat-icon>arrow_forward</mat-icon></div>
</div></div>
</div><br><br>




<router-outlet></router-outlet>