
<div class="row">
<div class="card" routerLink="/window">
    <h2 class="header" >1 Architectural design</h2>
  <div class="body">
    <div class="row">
      <p>Frequency <br> <br>My notes</p>  <mat-progress-bar  mode="determinate" value="40">40%</mat-progress-bar>
    </div>
    <ng-content></ng-content>
  </div>
  <div class="fodivoter">
    </div>
</div></div>
<div class="row">
  <div class="card" routerLink="/window">
      <h2 class="header" >2 Study and Employment</h2>
    <div class="body">
      <div class="row">
        <p>Frequency <br> <br>My notes</p>  <mat-progress-bar  mode="determinate" value="40">40%</mat-progress-bar>
      </div>
      <ng-content></ng-content>
    </div>
    <div class="fodivoter">
      </div>
  </div></div>
  <div class="row">
    <div class="card" routerLink="/window">
        <h2 class="header" >3 Advantages and disadvantages of invention</h2>
      <div class="body">
        <div class="row">
          <p>Frequency <br> <br>My notes</p>  <mat-progress-bar  mode="determinate" value="40">40%</mat-progress-bar>
        </div>
        <ng-content></ng-content>
      </div>
      <div class="fodivoter">
        </div>
    </div></div>
    <div class="row">
      <div class="card" routerLink="/window">
          <h2 class="header" >4 Extracurricular activities</h2>
        <div class="body">
          <div class="row">
            <p>Frequency <br> <br>My notes</p>  <mat-progress-bar  mode="determinate" value="40">40%</mat-progress-bar>
          </div>
          <ng-content></ng-content>
        </div>
        <div class="fodivoter">
          </div>
      </div></div>
      <div class="row">
        <div class="card" routerLink="/window">
            <h2 class="header" >5 Population problem</h2>
          <div class="body">
            <div class="row">
              <p>Frequency <br> <br>My notes</p>  <mat-progress-bar  mode="determinate" value="40">40%</mat-progress-bar>
            </div>
            <ng-content></ng-content>
          </div>
          <div class="fodivoter">
            </div>
        </div></div>
        <div class="row">
          <div class="card" routerLink="/window">
              <h2 class="header" >6 Environmental changes</h2>
            <div class="body">
              <div class="row">
                <p>Frequency <br> <br>My notes</p>  <mat-progress-bar  mode="determinate" value="40">40%</mat-progress-bar>
              </div>
              <ng-content></ng-content>
            </div>
            <div class="fodivoter">
              </div>
          </div></div>